<a href="https://colab.research.google.com/github/vachkim/LECTURE/blob/master/PYTHON/Lec_CLASS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1. 클래스의 필요성
- 클래스를 사용하는 이유는 반복 작업을 편리하게 하기 위해서이다

In [ ]:
result1 = 0
result2 = 0
 
def add(num):
  global result1 #global
  result1 += num
  return result1

print(add(10))

10

In [ ]:
result1 = 0
result2 = 0
 
def add(num):
  global result1 #global
  global result2
  result1 += num
  result2 += num
  return [result1,result2]

print(add(10)) #리스트로 하나의 값을 반환

[10, 10]

In [ ]:
result1 = 0
result2 = 0

def add1(num):
  global result1
  result1 += num
  return result1

def add2(num):
  global result2
  result2 += num
  return result2

print(add1(10))
print(add2(20)) #같은 함수를 2번 써줘야 값이 2개가 나온다
#이런 문제를 해결하기위해 나온 것이 클래스

10
20

#### 2. 사람 클래스(=클래스)
- 사람의 특징(=변수)
  + 이름, 나이, 취미 etc

- 사람의 행동(=함수/기능)
  + 일상화된 행동들

In [ ]:
class Human:
  #사람의 특징 = 변수
  name = 'Rain'
  age = 30
  
  #사람의 행동 = 함수
  def exercise(self): #나에 대한 함수기 때문에 self를 사용
    print('운동합니다')

In [ ]:
rain = Human()
print(rain.name)
print(rain.age)
rain.exercise()

Rain
30
운동합니다

#### 3. 일반적 클래스

In [ ]:
class human:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def describe(self):
    return f"{self.name}의 나이는 {self.age}" 

if __name__ == '__main__':
    evan = human('Evan',30)
    hanna = human('Hanna',20)

print(evan.name, evan.describe())
print(hanna.age, hanna.describe())

Evan Evan의 나이는 30
20 Hanna의 나이는 20

#### 4. 상속

In [ ]:
class human:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def describe(self):
     return f"{self.name}의 나이는 {self.age}이다" 

  def SkinColor(self, color):
    return f"{self.name}의 피부색은 {color}이다"

class Asian(human):
  pass

evan = Asian('Jihoon', 9)
print(evan.SkinColor('Skin'))

Jihoon의 피부색은 Skin이다

#### 5. 머신러닝 클래스

In [ ]:
from google.colab import drive 
ROOT = '/content/drive'
drive.mount(ROOT)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
%cd drive/'My Drive'/'Colab Notebooks'/'data-20200826T055710Z-001'/'data'

/content/drive/My Drive/Colab Notebooks/data-20200826T055710Z-001/data

In [ ]:
%ls

weather2.csv  weather.csv

- 두 개의 데이터가 다른 것을 확인 _ 변수명이 다름

In [ ]:
import pandas as pd
import numpy as np

weather = pd.read_csv('weather.csv')
weather2 = pd.read_csv('weather2.csv')

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [ ]:
weather2.info() #weather2는 weather과 달리 col이름에 .이 찍혀져 있다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted.Date            10000 non-null  object
 1   Summary                   10000 non-null  object
 2   Precip.Type               10000 non-null  object
 3   Temperature..C.           10000 non-null  float64
 4   Apparent.Temperature..C.  10000 non-null  float64
 5   Humidity                  10000 non-null  float64
 6   Wind.Speed..km.h.         10000 non-null  float64
 7   Wind.Bearing..degrees.    10000 non-null  int64
 8   Visibility..km.           10000 non-null  float64
 9   Loud.Cover                10000 non-null  int64
 10  Pressure..millibars.      10000 non-null  float64
 11  Daily.Summary             10000 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 937.6+ KB

- 데이터프레임을 통일하는 코드를 아래와 같이 작성

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd


class Model:
    def __init__(self, datafile, model_type = None):
       self.datafile = datafile
       self.df = pd.read_csv(datafile)
       data_columns = ['Formatted Date', 'Summary', 'Precip Type', 
                       'Temperature (C)', 'Apparent Temperature (C)', 
                       'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)',
                       'Visibility (km)', 'Loud Cover', 'Pressure (millibars)','Daily Summary']
       self.df.columns = data_columns

       if model_type == 'rf':
            self.user_defined_model = RandomForestRegressor() 
       else:
            self.user_defined_model = LinearRegression()

# 데이터셋을 분리     
    def split(self, test_size):
        X = np.array(self.df[['Humidity', 'Pressure (millibars)']])
        y = np.array(self.df['Temperature (C)'])
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, y, test_size = test_size, random_state = 42)

# 모형 학습    
    def fit(self):
        self.model = self.user_defined_model.fit(self.X_train, self.y_train)

# 예측 진행    
    def predict(self, input_value):
        if input_value == None:
            result = self.user_defined_model.predict(self.X_test)
        else: 
            result = self.user_defined_model.predict(np.array([input_value]))
        return result

- 클래스 적용

In [ ]:
if __name__ == '__main__':
    a_model = Model(datafile="weather.csv", model_type=None)
    a_model.split(0.2)
    a_model.fit()    
    print(a_model.predict([.9, 1000]))
    print("Accuracy: ", a_model.model.score(a_model.X_test, a_model.y_test))

[6.83625473]
Accuracy:  0.39578560465686424

In [ ]:
if __name__ == '__main__':
    b_model = Model(datafile="weather2.csv", model_type=None)
    b_model.split(0.3)
    b_model.fit()
    print(b_model.predict([.9, 1000]))
    print("Accuracy: ", b_model.model.score(b_model.X_test, b_model.y_test))

[7.15581866]
Accuracy:  0.35698882811391797