<a href="https://colab.research.google.com/github/vachkim/LECTURE/blob/master/PYTHON/Lec_CODING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q1.
- [1,9,'one','two',3,'three]를 원소로 갖는 리스트 val을 만들기
- 마지막 원소를 자기 이름으로 만들기
- 리스트의 첫번째 str데이터를 출력하기

In [ ]:
val = [1,9,'one','two',3,'three']

In [ ]:
val[-1] = 'vach' #[-1]은 마지막 원소의 인덱스를 의미
print(val)

[1, 9, 'one', 'two', 3, 'vach']

In [ ]:
string_list = [letter for letter in val if isinstance(letter,str)]
string_list[0]

'one'

### Q2.
- 숫자 리스트에서 가장 큰 수를 찾는 알고리즘

In [ ]:
number = [7,2,1,9,6,10]
max = number[0]

for item in number: #for index in range(0,len(number))
  if item > max:    #if number[index] > max 처럼 인덱스를 지정해줄 수도 있다
    max = item
print(max)

10

### Q3. 
- 다음 딕셔너리에서 value가 78인 값의 key를 출력
- dic={'height':180,'weight':78,'temparature':35,'eyesight':11}

In [ ]:
dic={'height':180,'weight':78,'temparature':35,'eyesight':11}

In [ ]:
for key in dic.keys():
  if dic[key] == 78:
    print(key)

weight

### Q4. 
- 다음 딕셔너리에서 value가 78인 값의 key를 출력
- dic = {'1반':[60,80,30], '2반':[78,54,98], '3반':[100,50,70], '4반':[70,60,80]}

In [ ]:
dic = {'1반':[60,80,30], 
       '2반':[78,54,98], 
       '3반':[100,50,70], 
       '4반':[70,60,80]}

In [ ]:
for key in dic.keys():
  for number in range(0,3):
    if dic[key][number]==78:
      print(key)

2반

### Q5.
- 과락 40점을 넘기고 평균이 60점 이상인 합격자를 구하기
- test_score={'홍길동':[90,85,77,80],'이순신':[88,96,56,60], '허준':[56,53,64,66],'문익점':[76,89,39,70]}

In [ ]:
dic = {'홍길동':[90,85,77,80],
      '이순신':[88,96,56,60],
      '허준':[56,53,64,66],
      '문익점':[76,89,39,70]}

In [ ]:
exam_result= []

for exam_score in dic.items(): #items를 쓰면 0에는 key, 1에는 value값이 들어감을 기억하자
    name = exam_score[0] #dic의 key
    score = exam_score[1] #dic의 value
    avg = sum(score)/len(score) #average는 따로 정의해줘야 하는 기능
    if(avg > 60 and min(score) > 40):
        exam_result.append(name)
    print('이름', name, '평균', avg, '최고', max(score), '최저', min(score))
    
print('합격자 = ', exam_result)

이름 홍길동 평균 83.0 최고 90 최저 77
이름 이순신 평균 75.0 최고 96 최저 56
이름 허준 평균 59.75 최고 66 최저 53
이름 문익점 평균 68.5 최고 89 최저 39
합격자 =  ['홍길동', '이순신']