<a href="https://colab.research.google.com/github/vachkim/LECTURE/blob/master/PYTHON/Lec_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1-0) 파이썬 기초
파이썬의 기초가 되는 개념들과 기능들에 대해 우선 알아보자

### 1-1) 변수 설정
- 파이썬의 기본은 변수를 설정하는 것
- 설정할 변수와 넣을 변수값을 Equation(=)으로 연결해주면 된다

In [ ]:
a=1; b=2 #a에는 1의 값, b에는 2의 값을 할당

- 삽입한 변수는 자유롭게 연산이 가능하다

In [ ]:
a+b

3

- 숫자가 아니라 문자도 변수값으로 삽입이 가능하다

In [ ]:
c = 'Elementary_Python'
print(c) #변수값을 출력하는 기본함수, print

Elementary_Python

### 1-2) 슬라이싱
- [ - ]을 통해 변수 값의 일부만을 출력할 수 있다
- [슬라이싱을 시작할 값의 인덱스 : 슬라이싱을 끝낼 값의 인덱스]으로 코딩하면 된다
- 파이썬의 인덱스는 0부터 시작함을 유의한다

In [ ]:
number = '123456-987654'
number[0:6] #맨처음부터 6번 인덱스의 바로 앞 값까지를 출력한다

'123456'

[ - ]에 특정 값을 입력하지 않으면 맨 처음부터 맨 끝까지 출력한다

In [ ]:
alphabet = 'MyCodingLesson'
alphabet[2:] #2번째부터 맨 끝까지의 값을 출력한다

'CodingLesson'

### 1-3) 함수설정
- 변수 하나만을 바꿔서 반복적으로 계산하는 경우나
- 자주 사용하는 식의 경우 함수로 식을 저장해 사용할 수 있다
- def 함수명(): 함수식의 순서로 작성한다

In [ ]:
def my_func():
  print('my first function')

In [ ]:
my_func() #함수를 부르면 저장한 기능이 수행된다

my first function

- 특정값을 인자로 받는 함수를 작성할 수도 있다

In [ ]:
def my_friend(name): #name을 인자로 받는 함수
  print('{}는 내 친구'.format(name))
#{-}를 사용하고 뒤에 format.()를 사용하면 ()에 입력된 값이 {}로 들어간다

In [ ]:
my_friend('Richard Madden')

Richard Madden는 내 친구

In [ ]:
#위와 비슷하게 사용할 수 있는 기능으로 %s와 %d가 있다
#%s는 문자형에, %d는 숫자형에 사용한다
def my_dog(name):
  print('%s는 우리집 강아지' %name)

In [ ]:
my_dog('Coco')

Coco는 우리집 강아지

- 복수의 인자를 가지는 경우도 있다

In [ ]:
def my_info(name, id, number):
  print('이름은', name)
  print('아이디는', id)
  print('번호는', number)

In [ ]:
my_info('vach', 1234, 5678)

이름은 vach
아이디는 1234
번호는 5678

- 인자를 계산해 반환값으로 출력할 수도 있다

In [ ]:
def my_calc(x,y):
  z=x*y
  return z #특정값을 반환하는 경우 return으로 반환값을 지정

In [ ]:
my_calc(3,5)

15

- 아래 식을 이해하기 위해 for구문에 대해 알아보자
- for 변수명 in 리스트나 튜플은 리스트나 튜플에서 값을 하나씩 반환해 
- for구문 아래의 계산식에 대입, 출력함을 의미한다

In [ ]:
def my_sum(*args): 
#*args는 인자로 값을 특정하지 않고, 들어온 모든 값을 받아들인다는 것을 의미한다
  sum = 0 
  for i in args: #args에 들어온 값을 i라고 명명해 하나씩 반환
    sum = sum+i #0으로 정의한 sum에 i값을 더하게된다
  return sum

In [ ]:
my_sum(1,4,7,9,14)

35

## 2-0) 파이썬 튜토리얼
- 파이썬의 기능 중 자주 쓰이는 기능에 대해 알아보자

### 2-1) 파이썬 심화함수

- Enumerate는 자체적으로 인덱스를 부여하는 함수
- For구문에서 자주 활용되니 기억해두자

In [ ]:
x=['a','b','c']
y = enumerate(x)
list(y)

[(0, 'a'), (1, 'b'), (2, 'c')]

- Filter는 특정 조건을 만족하는(True) 값만을 출력해 list로 반환한다
- Filter(function, 적용할 값)

In [ ]:
number = [1,5,8,14,35,76]

def my_func(x):
  if x > 10:
    return True #10을 넘는 값만이 함수에서 True로 반환
  else:
    return False

fil = filter(my_func,number) #True값을 가진 숫자만을 출력
list(fil)

[14, 35, 76]

- Map은 함수를 일괄적용해 그 결과를 list로 반환하는 기능을 수행한다
- Map(수행할 기능, 함수를 적용할 값)

In [ ]:
def my_func(x):
  return(len(x))

x= map(my_func, ['phone','laptop','television']) #각 값의 글자수를 일괄 출력
list(x)

[5, 6, 10]

### 2-2) 문자열 함수
- str에 적용 가능한 문자열 함수 정리

- 대문자나 소문자로 전환하는 Capitalize, Title, Casefold

In [ ]:
letter = 'example'
print('capitalize = ', letter.capitalize())
print('title = ', letter.title())
letter = 'Example'
print('casefold = ', letter.casefold())

capitalize =  Example
title =  Example
casefold =  example

- 정해진 글자수만큼 텍스트를 채우는 함수로 center, ljust, rjust가 있다

In [ ]:
letter = 'example'
print(letter.center(20, '-'))
print(letter.ljust(20,'-'))
print(letter.rjust(20,'-'))

------example-------
example-------------
-------------example

- 문자열에서 특정 문자의 갯수를 세는 count
- count(찾는 문자열)할 수도 있지만 
- count(찾는 문자열, 찾기 시작할 인덱스, 찾기를 마칠 인덱스)도 가능

In [ ]:
letter = 'Umbrella Academy is so great Love Klaus'
print(letter.count('a'))
print(letter.count('my'))
print(letter.count('o',3,20))

4
1
0

- 이와 비슷하게 특정 문자열의 인덱스를 반환하는 find가 있다

In [ ]:
letter = 'Umbrella Academy is so great Love Klaus'
print(letter.find('a'))
print(letter.find('my'))
print(letter.find('o',3,20)) #없는 값은 -1(False)로 나온다

7
14
-1

- 글자가 특정 값으로 끝났는지 확인하는 endswith

In [ ]:
letter = 'Umbrella Academy'
print(letter.endswith('y'))
print(letter.endswith('emy'))
print(letter.endswith('umb'))

True
True
False

- 글자를 나누는 partition, split
- partition은 기준이 되는 문자열이 반드시 포함, 결과에 기준도 포함
- split은 기준이 없을 경우 띄어쓰기를 바탕으로 글자를 나눔

In [ ]:
letter = 'Umbrella-Academy with No.5 and No.4 Dear-Klaus'
print(letter.partition('-')) #partition은 맨 처음 나오는 기준에만 적용
print(letter.split('-')) #split은 기준 전체에 일괄 적용
print(letter.split('-',maxsplit=1)) #따라서 split을 일부에만 적용하고 싶으면 maxsplit 값이 있어야함

('Umbrella', '-', 'Academy with No.5 and No.4 Dear-Klaus')
['Umbrella', 'Academy with No.5 and No.4 Dear', 'Klaus']
['Umbrella', 'Academy with No.5 and No.4 Dear-Klaus']

- 문자열을 바꾸는 replace
- replace(찾을 문자열, 바꿀 문자열, 앞에서부터 적용할 갯수)

In [ ]:
letter = 'Umbrella Academy with No.5 and No.4 Dear-Klaus'
print(letter.replace('No.','Number')) #숫자가 없으면 전체 적용
print(letter.replace('No.','Number',1))

Umbrella Academy with Number5 and Number4 Dear-Klaus
Umbrella Academy with Number5 and No.4 Dear-Klaus

## 3-0) 데이터
- 파이썬의 데이터 구조에는 3가지가 있다; 리스트, 튜플, 딕셔너리
- 리스트는 여러 개의 값을 하나로 묶은 집합과도 같다
- 튜플은 리스트와 비슷하나 튜플 안의 값을 수정할 수 없다는 점에서 차이가 있다
- 딕셔너리는 리스트, 튜플과 달리 Key라는 값을 매게로 연결되어 있다

In [ ]:
list = ['a','b','c','d','e']
tuple = ('a','b','c','d','e')
dictionary = {1:'a', 2:['b','c']}
print(list)
print(tuple)
print(dictionary) # 1이라는 key아래 a, 2라는 key아래 b와 c가 있는 것

['a', 'b', 'c', 'd', 'e']
('a', 'b', 'c', 'd', 'e')
{1: 'a', 2: ['b', 'c']}

### 3-1) 리스트
- 리스트 값을 다루는 다양한 방법을 알아보자
- 리스트에서 특정 값을 추출하기

- 인덱스를 활용해 특정값을 추출할 수 있다
- 반대로 특정 값의 인덱스를 출력하는 것도 가능

In [ ]:
listing=[1,2,3,4,5]
listing.index(3) #3번째 인덱스 값을 출력

2

- isinstance를 활용하면 특정 형식에 맞는 데이터만 출력할 수 있다

In [ ]:
my_list = ['a','b','n','x',1,2,3,'a',33.3,'n','b']

In [ ]:
number_list = []
string_list = []
for item in my_list:
  if not isinstance(item,str): #isinstance(object to be checked,classinfo)
    number_list.append(item)
  else:
    string_list.append(item)
print(string_list)
print(number_list)

['a', 'b', 'n', 'x', 'a', 'n', 'b']
[1, 2, 3, 33.3]

In [ ]:
#for문으로 조건을 줄 수도 있다
string_list = [letter for letter in my_list if isinstance(letter,str)]
print(string_list)

['a', 'b', 'n', 'x', 'a', 'n', 'b']

- 리스트에 값을 추가 또는 삭제 하기
- insert,remove를 이용하면 값을 수정할 수 있다

In [ ]:
listing = [1,2,3,4,5]

In [ ]:
listing.insert(5,6) #insert(값을 추가할 위치, 추가할 값)
print(listing)

[1, 2, 3, 4, 5, 6]

In [ ]:
listing.append(10) #append는 마지막에 입력된 값을 추가한다
print(listing)

[1, 2, 3, 4, 5, 10, 10]

In [ ]:
listing.remove(4) #()안의 값을 삭제
print(listing)

[1, 2, 3, 5]

In [ ]:
#remove와 달리 del은 이용해 값을 제거한다
del listing[0]
print(listing)

[2, 3, 4, 5]

- Extend를 사용하면 리스트끼리 결합할 수 있다

In [ ]:
list_a = [1,2,3,4,5]
list_b = [6,7,8]
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8]

###3-2) 딕셔너리
- 딕셔너리를 다루는 다양한 방법을 알아보자
- 우선 딕셔너리는 {}를 이용해 만들거나, dict함수를 적용해 만들 수 있다

In [ ]:
food={'pasta':3000,'pizza':5000,'bread':1000} #key와 value값은 :으로 연결
drink=dict(coke=1000, sprite=1000) #이때는 '-'을 사용하지 않는다
#drink=[['coke',1000],['sprite',1000]] 이렇게 리스트를 만들고
#drink=dict(dirnk)로 해도 된다
print(food)
print(drink)

{'pasta': 3000, 'pizza': 5000, 'bread': 1000}
{'coke': 1000, 'sprite': 1000}

- 딕셔너리의 Key, Value값을 따로 가져올 수 있다

In [ ]:
food.keys()

dict_keys(['pasta', 'pizza', 'bread'])

In [ ]:
drink.values()

dict_values([1000, 1000])

In [ ]:
food.items() #key와 value 모두를 추출하는 것은 item

dict_items([('pasta', 3000), ('pizza', 5000), ('bread', 1000)])

- get을 이용하면 key에 해당하는 value값을 가져올 수 있다

In [ ]:
food.get('pizza')

5000

- 리스트와 유사하게 딕셔너리끼리 합치거나, 새로운 값을 딕셔너리에 추가할 수 있으며(update)
- 기존 값을 딕셔너리에서 삭제할 수 있다(del)

In [ ]:
food.update(drink)
food

{'bread': 1000, 'coke': 1000, 'pasta': 3000, 'pizza': 5000, 'sprite': 1000}

In [ ]:
food.update({'ice_cream':3000}) #update를 응용하면 새 값을 추가하는 것도 가능
food

{'bread': 1000,
 'coke': 1000,
 'ice_cream': 3000,
 'pasta': 3000,
 'pizza': 5000,
 'sprite': 1000}

In [ ]:
del food ['pasta'] #삭제할 값의 key만 제시해주면 된다
food

{'bread': 1000, 'coke': 1000, 'ice_cream': 3000, 'pizza': 5000, 'sprite': 1000}